* {
  box-sizing: border-box;
}

/* GLOBAL STYLES */

body {
  background: #faebd7 url("../images/dungeon_wall.png");
  color: #000000;
  overflow-x: hidden;
}

body:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: radial-gradient(circle, transparent 30%, black 125%);
}

p {
  font-family: "Tangerine";
  font-size: 2em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "IM Fell Great Primer SC";
  color: white;
}

a {
  display: inline-block;
  font-family: "Tangerine";
  font-size: 1.5em;
  font-weight: 700;
  text-decoration: none;
  color: lightgray;
  transition: all 0.2s ease-in-out;
}

a:hover {
  transform: scale(1.1);
  color: lightgoldenrodyellow;
}

header,
nav,
main {
  width: 100%;
  margin: auto;
}

/* Header styles */

.swing {
  position: relative;
  text-align: center;
  margin-top: -250px;
  animation: swing ease-in-out 2s infinite alternate;
  transform-origin: center -20px;
  float: left;
}

@keyframes swing {
  0% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

header h1 {
  color: black;
  font-size: 54px;
  position: absolute;
  bottom: 110px;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Main styles */

main {
  display: grid;
  text-align: center;
  grid-template-columns: 25% 50% 25%;
}

section ul {
  line-height: 2em;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 40px;
}

.column1 {
  z-index: 1;
  padding: 20px;
}

.column2 {
  background-image: url(../images/candle_nook.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.column3 {
  z-index: 1;
  padding: 20px;
}

/* Footer styles */

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer h5 {
  padding: 20px;
  color: lightgoldenrodyellow;
}
