/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* FONTS */

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700&display=swap");

/* GENERAL STYLES */

header {
  height: 50px;
  width: calc(100% - 40px);
  margin: 0px 20px;
  position: fixed;
  top: 0;
  z-index: 10;
  overflow: hidden;
  background-color: #495b70;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

header a {
  float: left;
  text-align: center;
  padding: 16px;
}

header a:hover {
  background-color: #7f9bb6;
  color: #ffffff;
}

.logo {
  width: 240px;
  height: 50px;
  background-image: url(../media/evrmorlogo.png);
  background-size: 200px;
  background-position: center;
  background-repeat: no-repeat;
}

.logo:hover {
  background-image: url(../media/evrmorlogo_hover.png);
}

nav img {
  padding: 0;
  margin: 0;
}

.navcentered {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navcentered a {}

body {
  background-color: #ffffff;
}

h1 {
  font-family: montserrat;
  font-size: 1.75em;
  font-weight: 700;
}

h2 {
  font-family: montserrat;
  font-size: 1.5em;
  font-weight: 400;
  font-style: italic;
}

p {
  font-family: montserrat;
  font-weight: 400;
  line-height: 1.3em;
}

a {
  font-family: montserrat;
  font-weight: 400;
  text-decoration: none;
  color: #7f9bb6;
}

a:hover {}

footer {
  width: 100%;
  text-align: center;
  z-index: 5;
}

.copyright {
  height: 50px;
  margin: 0px 20px;
  padding: 16px;
  color: #7f9bb6;
  background-color: #495b70;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #d8dbd2;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #495b70;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7f9bb6;
}


/* GENERAL SECTION STYLES */

.frame {
  min-height: 100vh;
  margin-bottom: -50px;
  text-align: center;
}

section {
  display: none;
  /* margin-bottom: 50px; */
}

section:target {
  display: block;
}

.pane {
  width: 100%;
  height: 100vh;
}


/* SPLASH SECTION */

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 110%;
  min-height: 110%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
  filter: grayscale(100%);
  opacity: 0.8;
}

.welcome {
  width: 100%;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%) translateY(-30%);
  z-index: -5;
}

.welcome p {
  text-shadow: 0 0 3px #ffffff, 0 0 5px #ffffff;
  font-size: 1.3em;
  margin: 30px;
  color: #171123;
  animation: fadeIn ease 4s forwards;
  opacity: 0;
}

.welcome p:nth-child(2) {
  animation-delay: 2s;
}

.welcome p:nth-child(3) {
  animation-delay: 4s;
}


/* HOME SECTION */

#home {
  width: 100%;
  background-color: #ffffff;
}

#home p {
  font-size: 1.4em;
}

#home .pane:nth-child(1) {
  background: url(../media/home1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#home .pane:nth-child(1) span {
  width: 33%;
  margin: 10%;
  float: right;
  text-align: left;
  color: #7f9bb6;
}

#home .pane:nth-child(2) {
  padding: 20%;
  background-image: url(../media/hextech.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #495b70;
}

#home .pane:nth-child(3) {
  background: url(../media/home2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#home .pane:nth-child(3) p {
  width: 25%;
  margin: 15% 10%;
  float: left;
  text-align: left;
  color: #495b70;
}

#home .pane:nth-child(4) {
  padding: 10% 20%;
  background: url(../media/home3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #171123;
}

#home .pane:nth-child(5) {
  padding: 10% 20%;
  background: url(../media/home4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #495b70;
}


/* PRODUCT SECTION */

#product {
  width: 100%;
  background-color: #ffffff;
}

#product .pane:nth-child(1) {
  background: linear-gradient(-45deg, #171123, #58595b, #d8dbd2, #ffffff);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: #7f9bb6;
}

.bg1 {
  padding: 10%;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-image: url(../media/bgoverlaybw.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg1 img {
  padding: 5%;
}

#product .pane:nth-child(2) {
  background: url(../media/lasereye.jpg);
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: 100vh;
  background-position: left;
  background-attachment: fixed;
}

#product .pane:nth-child(2) p {
  width: 33%;
  margin: 20% 10%;
  float: right;
  text-align: left;
  color: #ffffff;
  font-size: 1.4em;
}

#product .pane:nth-child(3) {
  background: url(../media/boncon.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-attachment: fixed;
}

#product .pane:nth-child(3) p {
  width: 33%;
  margin: 20% 10%;
  float: left;
  text-align: left;
  color: #495b70;
  font-size: 1.4em;
}

#product .pane:nth-child(4) {
  padding: 20%;
  background: url(../media/headset1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  font-size: 1.4em;
}


/* ABOUT SECTION */

#about {
  width: 100%;
  background-color: #ffffff;
}

#about p {
  font-size: 1.4em;
}

#about .pane:nth-child(1) {
  background: url(../media/office.jpg);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  background-attachment: fixed;
}

#about .pane:nth-child(1) span {
  width: 25%;
  margin: 20% 10%;
  float: right;
  text-align: left;
  color: #7f9bb6;
}

#about .pane:nth-child(2) {
  padding: 20%;
  background: url(../media/group.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #495b70;
  text-shadow: 0 0 3px #ffffff, 0 0 5px #ffffff;
}

#about .pane:nth-child(3) {
  padding: 20%;
  background: rgb(255, 255, 255);
  background: linear-gradient(45deg, rgba(216, 219, 210, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(216, 219, 210, 1) 100%), url(../media/molecule.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  color: #495b70;
}


/* LIABILITY SECTION */

#liability {
  width: 100%;
  height: 100vh;
  padding: 8% 20% 0%;
  color: #495b70;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .7) 20%, rgba(255, 255, 255, .7) 80%, rgba(255, 255, 255, 0) 100%),
    url(../media/medgray.jpg);
  no-repeat;
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
}

article {
  text-align: center;
}

article h1 {
  padding: 20px;
  color: #58595b;
  animation: fadeIn 2s;
}

article h2 {
  padding: 5px;
  animation: fadeIn 2s;
}

article p {
  padding-bottom: 20px;
  animation: fadeIn 2s;
}


/* ANIMATIONS */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* MOBILE RESPONSIVENESS */

@media screen and (max-width: 800px) {
  .container {
    width: 90%;
  }
}