/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* FONTS */

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700&display=swap");

/* GENERAL STYLES */

header {
  height: 50px;
  margin: 0px 20px;
  position: relative;
  top: 0;
  z-index: 10;
  overflow: hidden;
  background-color: #e5dace;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

header a {
  float: left;
  text-align: center;
  padding: 16px;
}

header a:hover {
  background-color: #ddd;
  color: #000;
}

header a.active {
  background-color: #4caf50;
  color: white;
}

.navcentered {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navcentered a {
  
}

body {
  background-color: #3f3931;
}

h1 {
  font-family: montserrat;
  font-size: 1.75em;
  font-weight: 700;
}

h2 {
  font-family: montserrat;
  font-size: 1.5em;
  font-weight: 400;
  font-style: italic;
}

p {
  font-family: montserrat;
  font-weight: 400;
  line-height: 1.3em;
}

a {
  font-family: montserrat;
  font-weight: 400;
  text-decoration: none;
  color: #3f3931;
}

a:hover {
}

footer {
  width: 100%;
  text-align: center;
}

.copyright {
  height: 50px;
  margin: 0px 20px;
  padding: 16px;
  background-color: #e5dace;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #6d7973;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #6d7973;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e5dace;
}

/* SECTION STYLES */

.frame {
  min-height: 100vh;
  margin-bottom: -50px;
}

section {
  display: none;
  margin-bottom: 50px;
}

section:target {
  display: block;
}

#home {
  width: 100%;
  background-color: #e7baa0;
}

#product {
  width: 100%;
  background-color: #e5dace;
}

#about {
  width: 100%;
  background-color: #b2b2a2;
}

#liability {
  width: 100%;
  padding: 10% 20%;
  background-color: #6d7973;
}

article {
  text-align: center;
}

article h1 {
  padding: 20px;
}

article h2 {
  padding: 5px;
}

article p {
  padding-bottom: 20px;
}

.pane {
  width: 100%;
  height: 75vh;
  border-top: 5px solid #3f3931;
}

/* ANIMATIONS */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* MOBILE RESPONSIVENESS */

@media screen and (max-width: 800px) {
  .container {
    width: 90%;
  }
}
