@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");

/* GLOBAL STYLES */

/* tw-sidebar {
  display: none;
} */

body,
tw-story {
  font-family: "VT323", monospace;
  text-align: center;
  overflow: hidden;
}

body {
  background-color: #000000;
}

tw-story {
}

/* SECTION STYLES */

tw-story[tags~="titlescreen"] {
  background-image: url("../images/titlescreen.gif");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: appear 3s;
}

tw-story[tags~="transition"] {
  background-image: none;
  animation: appear 3s;
}

tw-story[tags~="jailcell"] {
  background-image: url("../images/jailcell.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

tw-story[tags~="sleep"] {
  background-image: url("../images/jailbed.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

tw-story[tags~="hallway"] {
  background-image: url("../images/hallway.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

tw-story[tags~="hallwindow"] {
  background-image: url("../images/jailwindow.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

tw-story[tags~="hallchest"] {
  background-image: url("../images/jailchest.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

tw-story[tags~="hallsnakes"] {
  background-image: url("../images/jailsnakes.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

tw-story[tags~="intersection"] {
  background-image: url("../images/intersection.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

tw-story[tags~="hallwayb"] {
  background-image: url("../images/hallwayB.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

tw-story[tags~="room"] {
  background-image: url("../images/room.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

tw-story[tags~="roomwindow"] {
  background-image: url("../images/roomwindow.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

tw-story[tags~="roomchest"] {
  background-image: url("../images/roompotion.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

tw-story[tags~="fight"] {
  background-image: url("../images/fightguard.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

tw-story[tags~="hallopen"] {
  background-image: url("../images/hallopen.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

tw-story[tags~="hall"] {
  background-image: url("../images/largehall.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

tw-story[tags~="statue"] {
  background-image: url("../images/hallstatue.gif");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

tw-story[tags~="halldoor"] {
  background-image: url("../images/halldoor.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

tw-story[tags~="exterior"] {
  background-image: url("../images/outside.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

tw-story[tags~="storm"] {
  background-image: url("../images/outsidestorm.gif");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

tw-story[tags~="wizard"] {
  background-image: url("../images/wizardstorm.gif");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* TEXT STYLES */

tw-passage {
  color: #ffffff;
}

tw-link, {
  display: block;
  position: relative;
  width: 300px;
  padding: 5px;
  margin: 20px auto;
  color: #000000;
  background-color: #939598;
  border-top: 5px solid #6d6e71;
  border-bottom: 5px solid #6d6e71;
  transition: 0.2s ease-in-out;
}

tw-link:before,
tw-link:after {
  content: "";
  top: 0;
  width: 5px;
  height: 100%;
  position: absolute;
  background: #6d6e71;
  transition: 0.2s;
}

tw-link:before {
  left: -5px;
}

tw-link:after {
  right: -5px;
}

tw-link:hover, {
  color: #ffffff;
  background-color: #ffde17;
  border-color: #ffffff;
}

tw-link:hover:before,
tw-link:hover:after {
  background-color: #ffffff;
}
